<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>AllUsers</title>
    <link th:href="@{/styles/home.css}" rel="stylesheet">
</head>
<body>

<div th:unless="${session == null}">
    <div class="topnav">
        <a href="/home">Forside</a>
        <a class="active" href="/allusers">Se brugere</a>
        <a href="/settings">Indstillinger</a>
        <a href="/">Logud</a>
    </div>
</div>


<table>
    <tbody class="tbody">
    <tr class="tr" th:each="user: ${UsersOFOppositeSex}">
        <td th:with="picUrl=${user.getId()} + '.jpg'"><img th:src="@{/images/{image}(image=${picUrl})}"></td>
        <td class="name-and-age" th:text="${user.getFirstName()} + ', ' + ${user.calculateAge()}"> NAME & AGE </td>
        <td>
            <a th:href="@{/addtofavorites(id=${user.getId()})}" class="btn">Tilføj Favorit</a> <!-- http://www.thymeleaf.org/doc/articles/standardurlsyntax.html -->
        </td>
        </th:block>
    </tr>
    </tbody>
</table>



</body>
</html>

