<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomeW</title>
    <link th:href="@{/styles/home.css}" rel="stylesheet">
</head>
<body>

<h1>Kvinde Logget Ind</h1>


<div class="topnav">
    <a class="active" href="/homeW">Forside</a>
    <a href="/settings">Settings</a>
    <a href="/">Logud</a>

</div>



<div class="row">
<div th:each="user : ${UserViewerSelector}">
    <div th:if="${!user.isWoman()}">
        <div class="column" th:with="picUrl=${user.getId()} + '.jpg'">
            <img th:src="@{/images/{image}(image=${picUrl})}" style="width: 100%">
            <p th:utext="${user.getFirstName()}"> NAME & AGE  </p>
            <!--<p th:utext="${user.getFirstName()} + ', ' + ${user.calculateAge()}"> NAME & AGE  </p> -->
        </div>
</div>
</div>
</div>



</body>
</html>