1<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>

<h1>KAN LOGGE IND</h1>

<div class="row">
    <div class="column">
        <img src="images/woman.jpg">
        <img src="images/woman.jpg">
        <img src="images/woman.jpg">
        <img src="images/woman.jpg">
    </div>
</div>

<div th:each="user : ${User}">
<p th:utext="${user.getFirstName()} + ', ' + ${user.calculateAge()}"> NAME & AGE  </p>
</div>

<table>
    <thead>
    <tr th:each="user : ${User}">
        <!-- <td><span th:text="${user.getFirstName()} + ', '"> FIRSTNAME</span>  </td> -->
        <!-- <td><span th:text="${user.calculateAge()}"> AGE</span>  </td> -->



    </tr>



    </thead>
</table>

<!--<p th:text="${users}"></p> -->

</body>
</html>