<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link th:href="@{/styles/admin.css}" rel="stylesheet">
</head>
<body>



<div class="topnav">
    <a href="/">Logud</a>
</div>

<div class="divForm">
<form name="delete" action="/homeA" method="post">
    Skriv ID for at slette bruger:<br>
    <input type="text" name="id" placeholder="id">
    <br>
    <input type="submit" value="Slet">
</form>
</div>

<div class="row">
    <div th:each="user : ${User}">
        <p th:utext="'Id: ' + ${user.getId()} + ' Navn: ' + ${user.getFirstName()}
           + ' ' + ${user.getLastName()} + ' Nummer: ' + ${user.telephoneNumber}
           + ' email: ' + ${user.getEmail()} + ' Fødselsdag: ' + ${user.getBirthday()}" > Info på brugere  </p>
    </div>
</div>

</body>
</html>