<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomeM</title>
    <link th:href="@{/styles/home.css}" rel="stylesheet">
</head>
<body>


<div class="topnav">
    <a class="active" href="/homeM">Forside</a>
    <a href="/settings">Settings</a>
    <a href="/">Logud</a>

</div>

<h1>Logget ind som</h1>
<p th:text="${session.user.firstName} + ' ' + ${session.user.lastName}" th:unless="${session == null}">[...] > </p>


<div class="row">
    <div th:each="user : ${UserViewerSelector}">
            <div class="column" th:with="picUrl=${user.getId()} + '.jpg'">
                <img th:src="@{/images/{image}(image=${picUrl})}" style="width: 100%">
                <p th:utext="${user.getFirstName()}"> NAME & AGE  </p>
               <!-- <p th:utext="${user.getFirstName()} + ', ' + ${user.calculateAge()}"> NAME & AGE  </p> -->
            </div>
        </div>
    </div>



</body>
</html>