<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>HomeM</title>
    <link th:href="@{/styles/home.css}" rel="stylesheet">
</head>
<body>

<div th:unless="${session == null}">
    <div class="topnav">
        <a class="active" href="/home">Forside</a>
        <a href="/allusers">Se brugere</a>
        <a href="/settings">Settings</a>
        <a href="/">Logud</a>
    </div>
</div>

<!-- Velkomsthilsen -->
<h1 th:text="'Velkommen, ' + ${session.user.firstName}" th:unless="${session == null}">[...] > </h1>

<!-- Viser 4 tilfældige bruger af modsat køn -->
<div class="row">
    <div class="column" th:each="user : ${UserViewerSelector}">
            <div th:with="picUrl=${user.getId()} + '.jpg'">
                <img th:src="@{/images/{image}(image=${picUrl})}" alt="Profilbillede">
                <p th:utext="${user.getFirstName()} + ', ' + ${user.calculateAge()}"> NAME & AGE  </p>
            </div>
    </div>
</div>

<!-- Viser brugerens favoritter -->
<h2>Her er dine favoritter</h2>
<div class="row">
    <div class="column" th:each="user : ${Favorites}">
        <div th:with="picUrl=${user.getId()} + '.jpg'">
            <img th:src="@{/images/{image}(image=${picUrl})}" alt="Profilbillede">
            <p th:utext="${user.getFirstName()} + ', ' + ${user.calculateAge()}"> NAME & AGE  </p>
        </div>
    </div>
</div>


<!-- LINJEN NEDEUNDER MÅ IKKE SLETTES -->
<button class="open-button" onclick="openForm()">Chat</button>

<div th:if="${messageFlag}">
openForm();
</div>


<div class="chat-popup" id="myForm">

    <form action="/home" class="form-container" method="post">
        <div class="messages-container">
            <h3>Message Board</h3>

            <div class="message-board" value="No Messages..">

                <div class="message-board-log"  th:each="message : ${Messages}" >
                    <p class="message-board-log-style" data-th-utext="${#strings.replace(#strings.escapeXml(message),'&#10;','&lt;br&gt;')}"></p>
                </div>
            </div>
        </div>

        <div class="input-container">
            <label for="msg"><b>Message</b></label>
            <textarea class="message-board-input" id="msg" name="message" placeholder="Type message.." required></textarea>

            <button type="submit" class="btn">Send</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </div>
    </form>
</div>

<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>

</body>
</html>