<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomeM</title>
    <link th:href="@{/styles/home.css}" rel="stylesheet">
</head>
<body>

<h1>Mand Logget Ind</h1>



<!--

<div class="row" th:with="firstUser=${User.get(0)}, secondUser=${User.get(1)},thirdUser=${User.get(2)},fourthUser=${User.get(3)}">
    <div class="column" th:with="picUrl=${firstUser.getId()} + '.jpg'">
        <img th:src="@{/images/{image}(image=${picUrl})}" alt="Picture" style="width:100%">
        <p th:utext="${firstUser.getFirstName()} + ', ' + ${firstUser.calculateAge()}"> NAME & AGE  </p>
    </div>
    <div class="column" th:with="picUrl=${secondUser.getId()} + '.jpg'">
        <img th:src="@{/images/{image}(image=${picUrl})}" alt="Picture" style="width:100%">
        <p th:utext="${secondUser.getFirstName()} + ', ' + ${secondUser.calculateAge()}"> NAME & AGE  </p>
    </div>
    <div class="column" th:with="picUrl=${thirdUser.getId()} + '.jpg'">
        <img th:src="@{/images/{image}(image=${picUrl})}" alt="Picture" style="width:100%">
        <p th:utext="${thirdUser.getFirstName()} + ', ' + ${thirdUser.calculateAge()}"> NAME & AGE  </p>
    </div>
    <div class="column" th:with="picUrl=${fourthUser.getId()} + '.jpg'">
        <img th:src="@{/images/{image}(image=${picUrl})}" alt="Picture" style="width:100%">
        <p th:utext="${fourthUser.getFirstName()} + ', ' + ${fourthUser.calculateAge()}"> NAME & AGE  </p>
    </div>
</div>

-->

<!--

<div class="row">
    <div th:each="user : ${User}">
        <div th:if="${user.isWoman()}">
        <div class="column" th:with="picUrl=${user.getId()} + '.jpg'">
            <img th:src="@{/images/{image}(image=${picUrl})}" style="width: 100%">
            <p th:utext="${user.getFirstName()} + ', ' + ${user.calculateAge()}"> NAME & AGE  </p>
        </div>
    </div>
    </div>
</div>
-->

<div class="row">
    <div th:each="user : ${UserViewerSelector}">
            <div class="column" th:with="picUrl=${user.getId()} + '.jpg'">
                <img th:src="@{/images/{image}(image=${picUrl})}" style="width: 100%">
                <p th:utext="${user.getFirstName()} + ', ' + ${user.calculateAge()}"> NAME & AGE  </p>
            </div>
        </div>
    </div>

<!--
 <table>
     <thead>
     <tr th:each="user : ${User}">
         <td><span th:text="${user.getFirstName()} + ', '"> FIRSTNAME</span>  </td>
        <td><span th:text="${user.calculateAge()}"> AGE</span>  </td>



    </tr>



    </thead>
</table>

-->

<!--<p th:text="${users}"></p> -->

</body>
</html>