<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Landing page</title>
    <link rel="stylesheet" href="../static/styles/login.css">
</head>
<body>
<h1>LOGIN PAGE</h1>

<table>
    <tr><td>Login</td>
        <td>
            <form name="login" action="/login" method="POST">
                Email:<br>
                <input type="text" name="email" value="test2">
                <br>
                Password:<br>
                <input type="password" name="password" value="test">
                <br>
                <input type="submit" value="Submit">
            </form>
        </td>

    </tr>
</table>
</body>
</html>