<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landing page</title>
    <link th:href="@{/styles/login.css}" rel="stylesheet">
</head>
<body>
<h1>LOGIN PAGE</h1>

<div>
    <form name="login" action="/login" method="POST">
        Email:<br>
        <input type="text" name="email" value="test2">
        <br>
        Password:<br>
        <input type="password" name="password" value="test">
        <br>
        <input id="button" type="submit" value="Submit">
    </form>
</div>
</body>
</html>