<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/settings.css}" rel="stylesheet">
    <title>Settings</title>


</head>
<body>

<div th:if="${session.isWoman}" th:unless="${session == null}">
    <div class="topnav">
        <a href="/homeW">Forside</a>
        <a href="/allusers">Se brugere</a>
        <a class="active" href="/settings">Settings</a>
        <a href="/">Logud</a>
    </div>
</div>

<div th:if="${!session.isWoman}" th:unless="${session == null}">
    <div class="topnav">
        <a href="/homeM">Forside</a>
        <a class="active" href="/settings">Settings</a>
        <a href="/">Logud</a>
    </div>
</div>

<div class="divForm">
    <h3>Skift infomation</h3>
<form name="update" action="/update" method="post">
    Firstname:<br>
    <input type="text" name="firstname" th:value="${session.user.firstName}">
    <br>
    Lastname:<br>
    <input type="text" name="lastname" th:value="${session.user.lastName}">
    <br>
    <!--
    Number:<br>
    <input type="text" name="number" th:value="${session.user.number}">
    <br> -->
    Email:<br>
    <input type="text" name="email" th:value="${session.user.email}">
    <br>
    Password:<br>
    <input type="text" name="password" th:value="${session.user.password}">
    <br>
    <input type="submit" value="Submit">
</form>
</div>
<!-- den viser brugeren selvom user lyser rødt, ved ikk hvorfor :/
<p th:text="${session.user}" th:unless="${session == null}">[...]</p>
-->


</body>
</html>