.topnav {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: #fdfbf9;
    display: block;
    text-align: center;

}
/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    color: #fefff3;
    background-color: rgba(153, 68, 215, 0.3);
    border-radius: 25px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #9944D7B6;
    border-radius: 25px;
    color: #ffffff;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #9944D7B6;
    border-radius: 25px;
    color: white;
}

p {
    font-family: sans-serif;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

/*
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 22%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}



@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}