/* ----------------------------------------------------------------------------- */
/* ------------------------------ TEXT STYLES --------------------------------- */
/* ----------------------------------------------------------------------------- */


p {
    font-family: sans-serif;
    text-align: center;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}




/* ----------------------------------------------------------------------------- */
/* ------------------------------ TOPNAV --------------------------------------- */
/* ----------------------------------------------------------------------------- */


.topnav {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: #fdfbf9;
    display: block;
    text-align: center;

}
/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    color: #fefff3;
    background-color: rgba(171, 1, 7, 0.6);
    border-radius: 25px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ab0107;
    border-radius: 25px;
    color: #ffffff;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #ab0107;
    border-radius: 25px;
    color: white;
}




/* ----------------------------------------------------------------------------- */
/* ------------------------------ USER IMAGES ---------------------------------- */
/* ----------------------------------------------------------------------------- */



/*
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    padding: 5px;
    width: 25%;
}

.row {
    display: flex;
    justify-content: center;
}
/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

img{
    border-radius: 10%;
    height: 250px;
    width: 100%
}



/* ----------------------------------------------------------------------------- */
/* ------------------------------ STYLING AF CHAT ------------------------------ */
/* ----------------------------------------------------------------------------- */


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {

    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    width: 650px;
    height: 330px;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.messages-container {
    width: 350px;
}

.input-container {
    width: 250px;
    padding-top: 35px;
}
/* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 100px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.message-board {
    background: #eee;
    padding-bottom: 10px;
    width: 100%;
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.message-board-log{

}

.message-board-log p.message-board-log-style {
    text-align: left;
    padding: 10px;
    padding-top: 0px;
}

.message-board-input[type=text] {
    width: 100%;
    padding: 12px 10px;
    margin: 7px 0;
    box-sizing: border-box;
    overflow: scroll;
}



/* ----------------------------------------------------------------------------- */
/* ------------------------------ BUTTONS -------------------------------------- */
/* ----------------------------------------------------------------------------- */

/* Buttons */
/* https://www.w3schools.com/css/css3_buttons.asp */

.btn {
    background-color: #ab0107;
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px; /* https://www.w3schools.com/css/css3_borders.asp */
    box-shadow: 1px 1px 1px #888888;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
}

.btn-add-favorite {
    background-color: #4CAF50;
}


.btn:hover {
    box-shadow: 2px 2px 2px #888888;
}

.w {
    width: 20%;
}


.tbody {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: wrap;
}

.tr {
    display: grid;
    padding-top: 15px;
}

/* ----------------------------------------------------------------------------- */
/* ------------------------------ MEDIA SCREENS -------------------------------- */
/* ----------------------------------------------------------------------------- */



@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}